# unity ignore directory
Library/
Temp/
obj/

# Visual Studio 2015 cache/options directory
 .vs/

# unity ignore file
*.csproj
*.unityproj
*.sln
*.userprefs
*.vscode
*.DS_Store
*.meta


# need include the meta of file
!*.*.meta
!*.dll
!Assets/ThirdParty/QuickSheet/ExcelPlugin/Editor/Library

# project ignore directory
Library_Android/
Library_iOS/
DataFiles/AssetBundles/
build/

Assets/StreamingAssets/
Assets/StreamingAssets/iOS/
Assets/StreamingAssets/Android/
Assets/StreamingAssets/Standalone/
Assets/StreamingAssets/build_info.txt
Assets/StreamingAssets/build_info.txt.meta

Assets/2DGamekit/Art
!Assets/2DGamekit/Audio
Assets/2DGamekit/Documentation
Assets/2DGamekit/Scenes
Assets/2DGamekit/Utilities/Fonts
Assets/2DGamekit/Utilities/TextMesh Pro
!Assets/2DGamekit/Scripts/
